@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(800px) rotateY(-15deg) translateY(-30px) rotateX(10deg) scale(1);

  /* filter: blur(2px); */
  /* opacity: 0.5; */
  transition: transform 0.6s ease, filter 0.6s ease, opacity 0.6s ease;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.image-container:hover {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  /* filter: blur(0); */
  opacity: 1;
}